<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/terminal.css@0.7.4/dist/terminal.min.css" />
    <link rel="stylesheet" href="/assets/styles/theme.css">

    <title>{{ title }}</title>
</head>
<body>

    <main>
        {{ content | safe }}
    </main>

    {% include "components/terminal/terminal.njk" %}

</body>

<script>
    // Eleventy dumps the data straight into this variable during the build process
    window.allPosts = [
        {% for post in collections.txt %}
        {
            title: "{{ post.data.title | escape }}",
            url: "{{ post.url }}"
        }{% if not loop.last %},{% endif %}
        {% endfor %}
    ];
</script>

</html>
