<div class="terminal-resize-handle" id="resizeHandle"></div>


<div class="terminal-wrapper" id="terminalWrapper">
    <label for="terminal-toggle" class="terminal-header">
        <span class="terminal-title">status: bash_shell</span>
        <span class="toggle-icon">[-] minimize</span>
    </label>
    <form class="terminal-form" onsubmit="this.reset(); return false;">
        <span class="terminal-prompt">tomclima@have-a-good-day:~$</span>
        <input 
            type="text" 
            class="terminal-input" 
            autofocus=true
        >
    </form>
</div>

<script src="/assets/js/terminal.js"></script>